Source: faba-icon-theme
Section: misc
Priority: optional
Maintainer: David Mohammed <foss.freedom@gmail.com>
Build-Depends: debhelper (>= 9),
    dh-autoreconf
Standards-Version: 3.9.7
Homepage: https://github.com/moka-project/faba-icon-theme


Package: faba-icon-theme
Architecture: all
Depends: ${misc:Depends},
         gnome-icon-theme,
         hicolor-icon-theme
Replaces: faba-icon-theme-symbolic
Description: Tango influenced icon theme called Faba
 Faba is a sexy and modern icon theme with Tango influences.
